html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
#app {
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  /* align-items: center;  */
  /* align-content: center;  */
  justify-content: first baseline;
  overflow: hidden;
}
