body,
html {
  margin: 0px;
  padding: 0px;
}

#btnContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

#btnContainer div {
  background-color: lightblue;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
}
* {
  touch-action: manipulation;
}

#btn_start {
  position: absolute;
  width: 40vw;
  height: 20vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
