body,
html {
  margin: 0px;
  padding: 0px;
}

#btnContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

#btnContainer div {
  width: 45%;
}
* {
  touch-action: manipulation;
}
